Repository collective/icalendar, changes with the owners that .github/CODEOWNERS names for each.
All owners: @niccokunzmann, @stevepiercy, @abe-101, @SashankBhamidi, @angatha, @ennamarie19

Update SECURITY.md
  SECURITY.md
Owners: @niccokunzmann, @stevepiercy, @abe-101, @angatha

englishify note on upgrades
  CHANGES.rst
Owners: @niccokunzmann, @stevepiercy

update documentation
  CHANGES.rst
  src/icalendar/attr.py
  src/icalendar/param.py
  src/icalendar/prop/conference.py
Owners: @niccokunzmann, @stevepiercy, @SashankBhamidi, @angatha

newline after seealso::
  src/icalendar/param.py
Owners: @niccokunzmann, @SashankBhamidi, @stevepiercy, @angatha

Fix link to more examples in README
  README.rst
Owners: @stevepiercy, @abe-101

Fix link to more examples section
  README.rst
Owners: @stevepiercy, @abe-101

Fix broken examples link in README.md
  CHANGES.rst
Owners: @niccokunzmann, @stevepiercy

Add Howard Liao to credits list
  docs/contribute/credits.rst
Owners: @stevepiercy, @abe-101

Fix Issue#958 by renewing more examples link (#960)
  CHANGES.rst
  README.rst
  docs/contribute/credits.rst
Owners: @niccokunzmann, @stevepiercy, @abe-101

Remove extra space
  CHANGES.rst
Owners: @niccokunzmann, @stevepiercy

Fix change log
  CHANGES.rst
Owners: @niccokunzmann, @stevepiercy

Fix formatting
  docs/contribute/development.rst
Owners: @stevepiercy, @abe-101

Use reST link syntax
  docs/contribute/development.rst
Owners: @stevepiercy, @abe-101

Add docstring format style guide - Closes #737
  CHANGES.rst
  docs/contribute/development.rst
Owners: @niccokunzmann, @stevepiercy, @abe-101

Fix typo
  CHANGES.rst
Owners: @niccokunzmann, @stevepiercy

- Accept plural of docstring - Fix title of Google Python Style Guide
  docs/contribute/development.rst
  styles/config/vocabularies/icalendar/accept.txt
Owners: @stevepiercy, @abe-101

Add funding link to `pyproject.toml`
  CHANGES.rst
  pyproject.toml
Owners: @niccokunzmann, @stevepiercy

Remove Tidelift entry in FUNDING.yml
  .github/FUNDING.yml
Owners: @niccokunzmann, @SashankBhamidi, @stevepiercy

Add PyData Theme version switcher to documentation
  CHANGES.rst
  docs/_static/version-switcher.json
  docs/conf.py
  docs/index.rst
Owners: @niccokunzmann, @stevepiercy, @abe-101

Attempt to build docs with PyData Theme and version switcher
  .readthedocs.yml
  docs/_static/js/custom-icons.js
  docs/conf.py
  requirements_docs.txt
Owners: @stevepiercy, @niccokunzmann, @abe-101

Restore missing key
  .readthedocs.yml
Owners: @stevepiercy, @niccokunzmann, @abe-101

Cut 6.x branch and build docs with version switcher.
  docs/_static/js/custom-icons.js
  docs/conf.py
Owners: @stevepiercy, @abe-101

Shorten title to make version switcher fit
  docs/conf.py
Owners: @stevepiercy, @abe-101

Show the version warning banner
  docs/conf.py
Owners: @stevepiercy, @abe-101

Show the version warning banner
  docs/conf.py
Owners: @stevepiercy, @abe-101

Fix the `json_url` value
  docs/conf.py
Owners: @stevepiercy, @abe-101

Tidy up code formatting
  docs/conf.py
Owners: @stevepiercy, @abe-101

Create new branch for version switcher
  .readthedocs.yml
  docs/_static/js/custom-icons.js
  docs/conf.py
  requirements_docs.txt
Owners: @stevepiercy, @niccokunzmann, @abe-101

Sync with 5.x-version-switcher
  .readthedocs.yml
Owners: @stevepiercy, @niccokunzmann, @abe-101

- Show warning banner - Update JSON URL
  docs/conf.py
Owners: @stevepiercy, @abe-101

Update JSON URL
  docs/conf.py
Owners: @stevepiercy, @abe-101

Update JSON URL
  docs/conf.py
Owners: @stevepiercy, @abe-101

Update JSON URL
  docs/conf.py
Owners: @stevepiercy, @abe-101

Remove Tidelift entry in FUNDING.yml
  .github/FUNDING.yml
Owners: @niccokunzmann, @SashankBhamidi, @stevepiercy

Update SECURITY.md
  SECURITY.md
Owners: @niccokunzmann, @stevepiercy, @abe-101, @angatha

Update SECURITY.md to highlight upgrade recommendations
  SECURITY.md
Owners: @niccokunzmann, @stevepiercy, @abe-101, @angatha

Update changelog URL to latest version
  pyproject.toml
Owners: @niccokunzmann, @stevepiercy

Add documentation for code owners process. See checklist at https://github.com/collective/icalendar/issues/945#issue-3553988479.
  docs/contribute/maintenance.rst
Owners: @stevepiercy, @abe-101

Remove link to not yet existing CODEOWNERS file
  docs/contribute/maintenance.rst
Owners: @stevepiercy, @abe-101

Add `inviter` to valid spellings
  docs/styles/config/vocabularies/Base/accept.txt
Owners: @stevepiercy, @abe-101

.github/CODEOWNERS:

# CODEOWNERS file for automatic PR review assignment
# See https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# Default owners
* @niccokunzmann @stevepiercy

# Documentation, except docstrings in `src`
*.md @stevepiercy @abe-101
*.rst @stevepiercy @abe-101
/.readthedocs.yml @stevepiercy @niccokunzmann @abe-101
/.vale.ini @stevepiercy @abe-101
/CONTRIBUTING.md @niccokunzmann @stevepiercy @abe-101
/docs/ @stevepiercy @abe-101
/Makefile @stevepiercy @abe-101
/styles @stevepiercy @abe-101

# Core calendar logic
/src/ @niccokunzmann @SashankBhamidi @stevepiercy @angatha

# Tests
/src/icalendar/tests/ @niccokunzmann @SashankBhamidi

# Fuzzing
/src/icalendar/fuzzing/ @ennamarie19 @niccokunzmann @SashankBhamidi

# CI and infrastructure
/.coveragerc @niccokunzmann
/.github/ @niccokunzmann @SashankBhamidi @stevepiercy
/.pre-commit-config.yaml @niccokunzmann @SashankBhamidi @stevepiercy
/bootstrap.py @niccokunzmann @stevepiercy
/buildout.cfg @niccokunzmann @stevepiercy
/pyproject.toml @niccokunzmann @stevepiercy
/tox.ini @niccokunzmann @stevepiercy

# Security
/SECURITY.md @niccokunzmann @stevepiercy @abe-101 @angatha

# Release stuff
/CHANGES.rst @niccokunzmann @stevepiercy
/MANIFEST.in @niccokunzmann
